<!DOCTYPE html>
<html>
<head>
	<link href="./client/css/foundation 6/foundation.css" rel="stylesheet">
	<link href="./client/css/landing-page.css" rel="stylesheet">
</head>
<body>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 center-block">
                    <div class="intro-message">
                        <h1>My Politics</h1>
                        <h3>Political Knowledge At Your Fingertips</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <button href="#/legislators" class="btn btn-default btn-lg">Legislators</button>
                            </li>
                            <li>
                                <button href="#/votes" class="btn btn-default btn-lg">Votes</button>
                            </li>
                            <li>
                                <button href="#/bills" class="btn btn-default btn-lg">Bills</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get To Know Your Legislators!</h2>
                    <ul>
                        <li>Who are the Senators from each State?</li>
                        <li>How many members of each party are in each chamber of Congress?</li>
                        <li>Who are the representatives of each state?</li>
                    </ul>
                    <p>Get to know each member of Congress!</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="http://ww1.hdnux.com/photos/50/20/67/10554844/3/920x1240.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Which Votes Are Getting Held and When?</h2>
                    <ul>
                        <li>Which bills are getting a vote?</li>
                        <li>What is the result of those votes?</li>
                        <li>How are your representatives voting?</li>
                    </ul>

                   	<p>Also get a visual breakdown of votes by party!</p>
                </div>
                <div class="col-sm-pull-6 col-sm-6">
                    <img class="img-responsive" src="./client/images/votes.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Explore Congress' Bills</h2>
                    <ul>
                        <li>Which bills are being considered relating to guns? transportation? the economy?</li>
                        <li>What actions have been taken on a bill?</li>
                        <li>Has the President signed them yet? Or did he veto them?</li>
                    </ul>

                   	<p>Also get details on who is sponsoring and cosponsoring bills!</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" src="http://media.npr.org/assets/img/2015/12/10/essa-edit_custom-235c1ae54b2e7709fe35b6c3632e2ae6e1f4f99b-s900-c85.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
 
</div>
</body>
</html>