<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Bills Page!</h1>
		<br>
		<div class="row">

		<div class="form-group col-md-2">
			<select class="form-control" id="filterBy">
				<option selected>Filter By</option>
				<option>Pulga</option>
				<option>Bionica</option>
				<option>ya</option>
			</select>
		</div>

			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 thumbnail" ng-repeat="bill in bills">
				<div class="caption">
					<h5 class="text-right">{{bill.bill_id}}</h5>
					<h4>{{bill.official_title}}</h4>
					<p>Sponsor: {{bill.sponsor.first_name}} {{bill.sponsor.last_name}} ({{bill.sponsor.party}})</p>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>