<!DOCTYPE html>
<html>
<head>
	<link href="./client/css/foundation 6/foundation.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1 class="text-center">{{model.currentVote.question}}</h1>
		<h2 class="text-center" ng-show="model.currentVote.bill != undefined && model.currentVote.bill.short_title != undefined">Bill: <a ng-href="#/bill/{{model.currentVote.bill_id}}">{{model.currentVote.bill.short_title}}</a></h2>
		<h2 class="text-center" ng-show="model.currentVote.bill != undefined && model.currentVote.bill.short_title === undefined">Bill: <a ng-href="#/bill/{{model.currentVote.bill_id}}">{{model.currentVote.bill.official_title}}</a></h2>
		<h2 class="text-center">Result: {{model.currentVote.result}}</h2>
		<h2 class="text-center" ng-show="model.currentVote.nomination != undefined">Nomination: {{model.currentVote.nomination.nominees[0].name}} for {{model.currentVote.nomination.organization}}</h2>

		<table class="table table-striped">
			<tr>
				<td><strong>Chamber:</strong></td>
				<td>{{model.currentVote.chamber.substring(0,1) | uppercase}}{{model.currentVote.chamber.substring(1)}} 
					<span ng-show="model.currentVote.chamber === 'house'">of Representatives</span>
				</td>
			</tr>
			<tr>
				<td><strong>Voted on:</strong></td>
				<td>{{model.currentVote.voted_at | date: "longDate"}}</td>
			</tr>
			<tr>
				<td><strong>Vote Type:</strong></td>
				<td>{{model.currentVote.vote_type.substring(1,0) | uppercase}}{{model.currentVote.vote_type.substring(1)}}</td>
			</tr>
			<tr>
				<td><strong>Requirement For Passage:</strong></td>
				<td>{{model.currentVote.required}}</td>
			</tr>
		</table>

		<div class="row">
			<div class="small-6 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.democratDataSource}}"></fusioncharts>
			</div>
			<div class="small-6 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.republicanDataSource}}"></fusioncharts>
			</div>
			<div class="small-12 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.totalDataSource}}"></fusioncharts>
			</div>
		</div>

		<h3>Vote Totals</h3>
		<table class="table table-striped">
			<tr>
				<th>Party</th>
				<th>Yea</th>
				<th>Nay</th>
				<th>Not Voting</th>
				<th>Present</th>
			</tr>
			<tr>
				<td>Democratic</td>
				<td>{{model.currentVote.breakdown.party.D.Yea}}</td>
				<td>{{model.currentVote.breakdown.party.D.Nay}}</td>
				<td>{{model.currentVote.breakdown.party.D["Not Voting"]}}</td>
				<td>{{model.currentVote.breakdown.party.D.Present}}</td>
			</tr>
			<tr>
				<td>Republican</td>
				<td>{{model.currentVote.breakdown.party.R.Yea}}</td>
				<td>{{model.currentVote.breakdown.party.R.Nay}}</td>
				<td>{{model.currentVote.breakdown.party.R["Not Voting"]}}</td>
				<td>{{model.currentVote.breakdown.party.R.Present}}</td>
			</tr>
			<tr ng-show="model.currentVote.breakdown.party.I">
				<td>Independent</td>
				<td>{{model.currentVote.breakdown.party.I.Yea}}</td>
				<td>{{model.currentVote.breakdown.party.I.Nay}}</td>
				<td>{{model.currentVote.breakdown.party.I["Not Voting"]}}</td>
				<td>{{model.currentVote.breakdown.party.I.Present}}</td>
			</tr>
		</table>
		
		<h3>Vote By Legislator</h3>
		<table class="table table-striped">
			<tr>
				<th>State</th>
				<th>Legislator</th>
				<th>Vote</th>
			</tr>
			<tr ng-repeat="voter in model.voters">
				<td>{{voter.state_name}}</td>
				<td><a ng-click="model.onLegislatorClick(voter.bioguide_id)">{{voter.last_name}}, {{voter.first_name}}</a></td>
				<td>{{voter.vote}}</td>
			</tr>
		</table>

	</div>
	
</body>
</html>