<!DOCTYPE html>
<html>
<head>
	<link href="./client/css/foundation 6/foundation.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1 class="text-center">{{model.currentVote.question}}</h1>
		<h2 class="text-center" ng-show="model.currentVote.bill.short_title != undefined">Bill: {{model.currentVote.bill.short_title}}</h2>
		<h2 class="text-center" ng-show="model.currentVote.bill.short_title === undefined">Bill: {{model.currentVote.bill.official_title}}</h2>
		<h2 class="text-center">Result: {{model.currentVote.result}}</h2>

		<table class="table">
			<tr>
				<td><strong>Chamber:</strong></td>
				<td>{{model.currentVote.chamber.substring(0,1) | uppercase}}{{model.currentVote.chamber.substring(1)}} 
					<span ng-show="model.currentVote.chamber === 'house'">of Representatives</span>
				</td>
			</tr>
			<tr>
				<td><strong>Voted on:</strong></td>
				<td>{{model.currentVote.voted_at | date: "longDate"}}</td>
			</tr>
			<tr>
				<td><strong>Vote Type:</strong></td>
				<td>{{model.currentVote.vote_type.substring(1,0) | uppercase}}{{model.currentVote.vote_type.substring(1)}}</td>
			</tr>
			<tr>
				<td><strong>Requirement For Passage:</strong></td>
				<td>{{model.currentVote.required}}</td>
			</tr>
		</table>

		<div class="row">
			<div class="small-6 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.democratDataSource}}"></fusioncharts>
			</div>
			<div class="small-6 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.republicanDataSource}}"></fusioncharts>
			</div>
			<div class="small-12 columns thumbnail">
				<fusioncharts width="100%" height="300" type="bar2d" dataSource="{{model.totalDataSource}}"></fusioncharts>
			</div>
		</div>
		
		<table class="table table-striped">
			<tr>
				<th>State</th>
				<th>Legislator</th>
				<th>Vote</th>
			</tr>
			<tr ng-repeat="voter in model.voters">
				<td>{{voter.state_name}}</td>
				<td><a ng-click="model.onLegislatorClick(voter.bioguide_id)">{{voter.last_name}}, {{voter.first_name}}</a></td>
				<td>{{voter.vote}}</td>
			</tr>
		</table>

	</div>
	
</body>
</html>