/* Global settings */
body { 
	padding-top: 50px;
	font-size: 1rem;
}

html {
	font-size: 16px;
}

.full-width {
	width: 100%;
}

.heading-3 {
	font-size: 1.5rem;
}

.columns.main-content-side-padding,
.main-content-side-padding {
	padding-left: 35px;
	padding-right: 35px;
}

.filter-text {
	color: #861316;
	font-weight: bold;
}

.filter-background,
.filter-background:hover,
.filter-background:focus {
	background-color: #861316;
	color: #FFFFFF;	
}

.thumbnail > .caption {
	color: inherit;
}

.card:hover {
	background-color: #7087AA;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.card {
	background-color: #FFFFFF;
	border: 1px solid #7087AA;
	color: #000000;
}

.panel {
	margin: 0;
}

.md-dialog-container {
	height: 100%;
	z-index: 1031;
}

a:not(.md-button) {
	color: #337ab7;
}

a:not(.md-button).btn-primary {
	color: white;
}

.btn-default:active,
.btn-default:focus,
.btn-default {
	background-color: #861316;
	border-color: #861316;
	color: #FFFFFF;
}

span.network-name {
	color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.active {
	background-color: white;
	color: #861316;
}

.btn-primary:active,
.btn-primary {
	background-color: #033A76;
}

/* Navbar */
.navbar.navbar-inverse {
	background-color: #033A76;
	border-color: #033A76;
}

.navbar .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active {
	color: #033A76;
	background-color: #FFFFFF;
}

/* Filter Dialog */
.md-toolbar-tools {
	background-color: #861316;
	color: #FFFFFF;
}

.list-group-item {
	background-color: #861316;
	color: #FFFFFF;
}

.list-group-header {
	background-color: #FFFFFF;
	border: 1px solid black;
	color: #861316;
}

.well {
	background-color: #E8E6E6;
}

/* Spacing */
.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body > .no-padding,
.no-padding {
	padding: 0;
}

.top-padding {
	padding-top: 10px;
}

.top-margin {
	margin-top: 20px;
}

.bottom-margin {
	margin-bottom: 20px;
}

.text-margins {
	margin-bottom: 10px;
	margin-top: 10px;
}

.no-margin {
	margin: 0;
}

.no-top-margin {
	margin-top: 0;
}

/* Graph */
.graph-border {
	border: 2px solid #7087AA;
}

/* Tabs */
.nav-tabs {
	border-bottom: 1px solid #861316;
}

.nav-tabs > li > a, 
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active {
	border: 1px solid #861316;
	color: #861316;
}

.nav-tabs > li.active > a, 
.nav-tabs > li > a:focus, 
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover {
	background-color: #861316;
	color: #FFFFFF;	
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

/* Action Colors */
.passed-text {
	color: #33A532;
}

.failed-text {
	color: #CC0605;
}

/* Home Page */
.logo {
	width: 400px;
	height: auto;	
}

.introductory-message {
	position: relative;
	padding-top: 3%;
	padding-bottom: 3%;
}

/* Tab styling */
.tab-style {
	padding-top: 20px;
	border-left: 1px solid #861316;
	border-right: 1px solid #861316;
	border-top: 1px solid #861316;
	padding-left: 10px;
	padding-right: 10px;
}