body { 
	padding-top: 50px;
	font-size: 1rem;
}

html {
	font-size: 16px;
}

.thumbnail:hover {
	background-color: #19C7E7;
}

.panel {
	margin: 0;
}

.md-dialog-container {
	height: 100%;
	z-index: 1031;
}