<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container-fluid">
		<h1 class="text-xs-center top-margin">Congressional Votes</h1>

		<!-- Error Message -->
		<div class="text-xs-center alert alert-danger" ng-show="model.hasError">
			Error retrieving data! <br>
			Try <a href="" ng-click="model.refreshPage()">refreshing</a> the page or <a href="#/votes">clearing</a> your filters.
		</div>

		<!-- Content -->
		<div class="row" ng-show="!model.hasError">
			<!-- Filters -->
			<div class="col-lg-2 sidebar-top-right-corner hidden-md-down filter-background">
				<div ng-include="'./client/views/filters/filters.html'" ng-controller="FiltersController as model"></div>
			</div>

			<!-- Votes -->
			<div class="col-xs-12 col-lg-10 main-content-side-padding">
				<div class="row">
					<div class="col-xs-12" ng-show="model.selectedFilters != ''">
						<p class="text-xs-center filter-text">{{model.selectedFilters}}</p>
					</div>

					<div class="col-xs-12" ng-show="!model.hasNoResults">
						<span><strong>Count: </strong>{{model.totalVoteCount}}</span>
					</div>

					<div class="col-xs-12">
						<div class="text-xs-center alert alert-info" ng-show="model.hasNoResults">
							No results! Try other filters!
						</div>
					</div>

					<div class="col-xs-12 hidden-lg-up">
						<div class="row">
							<div class="col-xs-6 col-xs-offset-6">
								<button class="btn btn-block btn-lg filter-background bottom-margin" ng-click="model.showFilterPopup($event)">
								Filter
								</button>
							</div>
						</div>
					</div>
					
					<div class="card col-xs-6 col-sm-3 col-lg-2" ng-repeat="vote in model.votes" ng-click="model.onVoteClick(vote.roll_id)">
						<p>
							<strong>{{vote.question}}</strong>
						</p>
						<p class="text-xs-center">For</p>
						<p ng-show="vote.bill.short_title">
							{{vote.bill.short_title}}
						</p>
						<p ng-show="!vote.bill.short_title">
							{{vote.bill.official_title}}
						</p>
						<p>
							{{vote.voted_at | date : "longDate"}} @{{vote.voted_at | date : "shortTime"}}
						</p>
					</div>

					<!-- Error Message -->
					<div class="col-xs-12">
						<div class="text-xs-center alert alert-danger" ng-show="model.hasLoadError">
							Error loading data! <br>Try loading more again.
						</div>
					</div>

					<!-- Load More Buttons -->
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 hidden-sm-up bottom-margin" ng-show="model.votes.length < model.totalVoteCount">
								<button class="btn-primary btn-block btn-lg" ng-click="model.getMoreVotes(24)">More Votes</button>
							</div>
							<div class="hidden-xs-down col-sm-4 offset-sm-4 bottom-margin" ng-show="model.votes.length < model.totalVoteCount">
								<button class="btn-primary btn-block btn-lg" ng-click="model.getMoreVotes(48)">More Votes</button>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div> <!-- End of row -->
	</div> <!-- End of container -->
</body>
</html>