<html>
<head>

</head>
<body>
	<h1>New To Politics? You've Come To The Right Place!</h1>
	<!-- Use Terms within relevant block -->
	<!-- Two Party System
		Democrats and Republicans
		Non-government organizations
		Independents are politicans who are not part of political party
			Historically difficult to be elected without party apparatus
				Has been done (Bernie most notable)
	 -->
	<!-- Explain What Congress Is/Does 
			Legislative Branch of the American Government
			Two Chambers, Senate and House of Representatives
				Senate has 100 Members, 2 per state
					6 year terms
					Every 2 years, 1/3 of Senators up for reelection
				House of Representatives has 440 members
					435 from states based on population
					5 Non-voting members from U.S Territories
					2 year terms 
	-->
	<!-- How Laws Are Enacted
		Start off as bills from either chamber
		Must gain majority from both chambers
		President can then sign or veto
			2/3 of each chamber can override a presidential veto
		Amendments can be proposed
	-->
	<!-- How Votes Are Held 
		Chamber Leader (highest ranking official from party with majority) decides which bills are to be held for a vote
		Legislators can vote Yea, Nay, Not Voting, or Not Present
		It is important for consitutents to be aware of how their own elected officials are voting
			They can be contacted (electronically and by phone call [most effective])

		Important Terms: Amendment, Cloture, Impeachment, Leadership, Nomination, Passage, Quorum, Recommit, Treaty, Other
	-->
</body>
</html>