<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#/home">My Politics</a>
  <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      <li class="nav-item hidden-sm-up">
        Placeholder <br>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{active: model.$location.path() === '/legislators'}" href="#/legislators" data-toggle="collapse" data-target="#exCollapsingNavbar2">Legislators</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{active: model.$location.path() === '/votes'}" href="#/votes" data-toggle="collapse" data-target="#exCollapsingNavbar2">Votes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-class="{active: model.$location.path() === '/bills'}" href="#/bills" data-toggle="collapse" data-target="#exCollapsingNavbar2">Bills</a>
      </li>
    </ul>
  </div>
</nav>