<!DOCTYPE html>
<html>
<head>
</head>
<body>
<md-dialog aria-label="Filter Dialog" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
       	<span class="glyphicon glyphicon-remove" ng-click="model.cancel()"></span>
        <span flex></span>
        <md-button ng-click="model.answer('Yes')">
          Filter
        </md-button>
      </div>
    </md-toolbar>

	<md-dialog-content>	

		<div class="panel panel-default" data-toggle="collapse" data-target="#partyFilters" aria-expanded="false" ria-controls="collapseExample">
		  <div class="panel-body">
		    <span class="glyphicon glyphicon-plus"></span> Party
		  </div>
			</div>
			<div class="collapse" id="partyFilters">
				<div class="panel panel-default">
				  <!-- List group -->
				  <ul class="list-group">
				  	<li class="list-group-item" ng-repeat="item in model.filters.parties">
				  		{{item.displayValue}} <span class="glyphicon glyphicon-ok pull-right" ng-show="item.isChecked"></span>
				  	</li>
				  </ul>
				</div>
			</div>

		<div class="panel panel-default" data-toggle="collapse" data-target="#chamberFilters" aria-expanded="false" ria-controls="collapseExample">
		  <div class="panel-body">
		    <span class="glyphicon glyphicon-plus"></span> Chamber
		  </div>
		</div>
		<div class="collapse" id="chamberFilters">
		  	<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group">
			  	<li class="list-group-item" ng-repeat="item in model.filters.chambers">
			  		{{item.displayValue}} <span class="glyphicon glyphicon-ok pull-right" ng-show="item.isChecked"></span>
			  	</li>
			  </ul>
			</div>
		</div>

		<div class="panel panel-default" data-toggle="collapse" data-target="#stateFilters" aria-expanded="false" ria-controls="collapseExample">
		  <div class="panel-body">
		    <span class="glyphicon glyphicon-plus"></span> State
		  </div>
		</div>
		<div class="collapse" id="stateFilters">
			<div class="panel panel-default">
			  <!-- List group -->
			  <ul class="list-group">
			  	<li class="list-group-item" ng-repeat="item in model.filters.states">
			  		{{item.displayValue}} <span class="glyphicon glyphicon-ok pull-right" ng-show="item.isChecked"></span>
			  	</li>
			  </ul>
			</div>
		</div>

	</md-dialog-content>
</md-dialog>
</body>
</html>