<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container-fluid">
		<!-- Error Message -->
		<div class="text-xs-center alert alert-danger" ng-show="model.hasError">
			Error retrieving data!
			<br>Try <a href="" ng-click="model.refreshPage()"> refreshing</a> the page or <a href="#/legslators">clearing your filters</a>.
		</div>
	</div>

	<!-- Content -->
	<div class="container-fluid" ng-show="!model.hasError">
		<h1 class="text-xs-center top-margin">Current Legislators</h1>
		
		<div class="row">
			<div class="col-lg-2 sidebar-top-right-corner hidden-md-down filter-background">
				<div ng-include="'./client/views/filters/filters.html'" ng-controller="FiltersController as model"></div>
			</div>

			<div class="col-xs-12 col-lg-10 main-content-side-padding">
				<div class="row">
					<div class="col-xs-12" ng-show="model.selectedFilters != ''">
						<p class="text-xs-left no-margin filter-text">{{model.selectedFilters}}</p>
					</div>

					<div class="col-xs-12 text-xs-center top-margin alert alert-info" ng-show="model.hasNoResults">No results! Try other filters!</div>

<!-- 					<div class="col-xs-12" ng-show="!model.hasNoResults">
						<span><strong>Count:</strong> {{model.displayedLegislators.length}}</span>
						<form class="form-inline pull-right">
							<label class="right-padding-small"><strong>Sort By:</strong></label>
							<select class="pull-right" ng-model="model.sortBy" ng-change="model.sortLegislators()">
		      					<option value="last_name__asc" select="selected">Last Name (ascending)</option>
		      					<option value="last_name__desc">Last Name (descending)</option>
		    				</select>
						</form>
					</div> -->

					<div class="col-xs-12 bottom-margin hidden-md-down">
						<form class="form-inline">
							<span class="pull-left" style="padding-top:8px"><strong>Count:</strong> {{model.displayedLegislators.length}}</span>
							<div class="form-group pull-right">
								<label for="sortLegislatorsBy" class="right-padding-small"><strong>Sort By:</strong></label>
							    <select class="form-control" ng-model="model.sortBy" ng-change="model.sortLegislators()" id="sortLegislatorsBy">
									<option value="last_name__asc" select="selected">Last Name (ascending)</option>
	      							<option value="last_name__desc">Last Name (descending)</option>
								</select>
							</div>
						</form>
					</div>

					<div class="col-xs-6 hidden-lg-up top-margin">
						<div class="row">
						<button class="btn btn-lg col-xs-10 offset-xs-1 hidden-lg-up filter-background bottom-margin" ng-click="model.showFilterPopup($event)">
							Filter
						</button>
						</div>
					</div>

					<div class="col-xs-6 hidden-lg-up top-margin">
						<div class="row">
						<button class="btn btn-lg col-xs-10 offset-xs-1 hidden-lg-up filter-background bottom-margin" ng-click="model.showSortPopup($event)">
							Sort
						</button>
						</div>
					</div>

					<div class="col-xs-12" ng-show="model.loadingInformation">
						<img class="center-block" src="./client/images/ring-alt.svg">
					</div>

					<div class="card col-xs-6 col-sm-3 col-lg-2 top-padding" ng-repeat="legislator in model.displayedLegislators" ng-click="model.onLegislatorClick(legislator.bioguide_id)">
						<img class="img-fluid" ng-src="https://theunitedstates.io/images/congress/225x275/{{legislator.bioguide_id}}.jpg"  alt="Legislator Image">
						<p>{{legislator.title}}. {{legislator.first_name}} {{legislator.last_name}} ({{legislator.party}})</p>
						<p>{{legislator.state_name}}</p>
					</div>
				</div>
			</div> 
		
		</div> <!-- End of row-->
	</div> <!-- End of container -->

</body>
</html>