<!DOCTYPE html>
<html>
<head>
	<link href="./client/css/foundation 6/foundation.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<br>
		<div class="row">
			<div class="small-12 medium-4 columns">
				<div class="row">
					<div class="small-12 columns">
						<img class="img-responsive center-block" ng-src="https://theunitedstates.io/images/congress/225x275/{{model.currentLegislatorId}}.jpg" >
						<br>
						<div class="small-12 columns">
							<a class="btn btn-primary btn-block" ng-href="{{model.currentLegislator.contact_form}}" ng-show="model.currentLegislator.contact_form" target="_blank">Contact</a>
						</div>
					</div>

					<br>
					
					<!-- Social Media Icons -->
					<div class="text-center small-12">
						<a class="btn btn-social-icon btn-facebook" ng-show="model.currentLegislator.facebook_id" href="https://facebook.com/{{model.currentLegislator.facebook_id}}" target="_blank">
							<span class="fa fa-facebook-square fa-3x"></span>
						</a>
						<a class="btn btn-social-icon btn-twitter" ng-show="model.currentLegislator.twitter_id" href="https://twitter.com/{{model.currentLegislator.twitter_id}}" target="_blank">
							<span class="fa fa-twitter fa-3x"></span>
						</a>
					</div>
				</div>
			</div>

			<div class="small-12 medium-8 columns">
				<h1 style="margin-top:0;">{{model.currentLegislator.first_name}} {{model.currentLegislator.middle_name}} {{model.currentLegislator.last_name}} {{model.currentLegislator.name_suffix}} ({{model.currentLegislator.party}})</h1>
				<h3 ng-show="model.currentLegislator.district" style="margin-top:0">{{model.currentLegislator.district}}<sup>{{model.repDistrictOrdinalSuffix}}</sup> District of {{model.currentLegislator.state_name}}</h3>
				<h3 ng-show="model.currentLegislator.state_rank" style="margin-top:0">{{model.currentLegislator.state_rank.substring(0,1) | uppercase}}{{model.currentLegislator.state_rank.substring(1)}} Senator from {{model.currentLegislator.state_name}}</h3>
				
				<!-- Information in table format -->
				<table class="table">
					<tr>
						<td>
							<strong>Term:</strong>	
						</td>
						<td>
							{{model.currentLegislator.term_start | date : "longDate"}} - {{model.currentLegislator.term_end | date : "longDate"}}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Birthday: </strong>	
						</td>
						<td>
							{{model.currentLegislator.birthday | date : "longDate"}} (Age: {{model.age}})
						</td>
					</tr>
					<tr ng-show="model.currentLegislator.phone">
						<td>
							<strong>Phone:</strong>
						</td>
						<td>
							{{model.currentLegislator.phone}}
						</td>
					</tr>
					<tr>
					<tr ng-show="model.currentLegislator.fax">
						<td>
							<strong>Fax:</strong>
						</td>
						<td>
							{{model.currentLegislator.fax}}
						</td>
					</tr>
					<tr>
						<td>
							<strong>Office:</strong>
						</td>
						<td>
							{{model.currentLegislator.office}}
						</td>
					</tr>
					<tr ng-show="model.currentLegislator.website">
						<td>
							<strong>Website:</strong>
						</td>
						<td>
							<a ng-href="{{model.currentLegislator.website}}" target="_blank">{{model.currentLegislator.website}}</a>
						</td>
					</tr>
				</table>
			</div>
		</div> <!-- End of row-->

		<div class="row">
			<div class="small-4 columns text-center" style="background-color:blue;color:white;padding-top:15px;padding-bottom:15px" ng-click="model.setSubView('votes')">Recent Votes</div>
			<div class="small-4 columns text-center" style="background-color:red;color:white;padding-top:15px;padding-bottom:15px" ng-click="model.setSubView('sponsoredBills')">Sponsored Bills</div>
			<div class="small-4 columns text-center" style="background-color:red;color:white;padding-top:15px;padding-bottom:15px" ng-click="model.setSubView('cosponsoredBills')">Cosponsored Bills</div>
		</div>

		<div class="row">
			<div class="small-6 medium-3 columns thumbnail" ng-show="model.currentSubView === 'sponsoredBills'" ng-repeat="sponsoredBill in model.information.sponsoredBills.data">
				<p class="text-right">
					{{sponsoredBill.bill_type | uppercase}} {{sponsoredBill.number}}
				</p>
				<p ng-show="sponsoredBill.short_title">
					<strong>{{sponsoredBill.short_title}}</strong>
				</p>
				<p ng-show="!sponsoredBill.short_title">
					<strong>{{sponsoredBill.official_title}}</strong>
				</p>
				<p>
					{{sponsoredBill.last_action_at | date : "longDate"}} @{{sponsoredBill.last_action_at | date : "shortTime"}}
				</p>	
			</div>

			<div class="small-6 medium-3 columns thumbnail" ng-show="model.currentSubView === 'cosponsoredBills'" ng-repeat="cosponsoredBill in model.information.cosponsoredBills.data">
				<p class="text-right">
					{{cosponsoredBill.bill_type | uppercase}} {{cosponsoredBill.number}}
				</p>
				<p ng-show="cosponsoredBill.short_title">
					<strong>{{cosponsoredBill.short_title}}</strong>
				</p>
				<p ng-show="!cosponsoredBill.short_title">
					<strong>{{cosponsoredBill.official_title}}</strong>
				</p>
				<p>
					{{cosponsoredBill.last_action_at | date : "longDate"}} @{{cosponsoredBill.last_action_at | date : "shortTime"}}
				</p>	
			</div>

			<div class="small-12 columns" ng-show="model.currentSubView === 'votes'" ng-repeat="vote in model.information.votes.data">vote</div>

			<!-- buttons -->
			<button class="btn-lg btn-block btn-primary hide-for-small-only" ng-show="model.information[model.currentSubView].data.length < model.information[model.currentSubView].totalCount" ng-click="model.getMoreSubViewData(32)">Load More</button>
			<button class="btn-lg btn-block btn-primary show-for-small-only" ng-show="model.information[model.currentSubView].data.length < model.information[model.currentSubView].totalCount" ng-click="model.getMoreSubViewData(16)">Load More Small</button>
		</div>

	</div>
</body>
</html>